* {
    box-sizing: border-box;
    font-family: 'orbitron', sans-serif;
}


.admin-button {
  background-color: #28a745; /* verde tipo Bootstrap */
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.admin-button:hover {
  background-color: #218838; /* verde un poco más oscuro */
}

body {
    background: linear-gradient(135deg, #0f0c29, #302b63, #24243e);
    color: #00fff7;
    display: flex;
    flex-direction: column;


    height: 100vh;
    margin: 0;
    gap: 1rem;
}

img {
    width: 150px;
    border-radius: 10px;
}

.bandeja_perfil {
    background: rgba(0,0,0,0.6);
}

.groupe {
    background: rgba(106, 100, 174, 0.6);
    
}


button {
    background-color: rgb(37, 85, 228);
    color: #000;
    padding: 0.8rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s ease, transform 0.2s ease;
  }

  button:hover {
    background-color: #df6e6e;
    transform: scale(1.05);
  }