* {
    box-sizing: border-box;
    font-family: 'orbitron', sans-serif;
}

body {
    background: linear-gradient(135deg, #0f0c29, #302b63, #24243e);
    color: #00fff7;
    display: flex;
    flex-direction: column;


    height: 100vh;
    margin: 0;
    gap: 1rem;
}

img {
    width: 150px;
    border-radius: 10px;
}
.welcome {
    background: rgba(0,0,0,0.6);
}
.information {
    background: rgba(106, 100, 174, 0.6);
    gap: 0.5rem;
    padding: 1rem;
}



button {
    background-color: rgb(37, 85, 228);
    color: #000;
    padding: 0.8rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s ease, transform 0.2s ease;
  }

  button:hover {
    background-color: #df6e6e;
    transform: scale(1.05);
  }

  



  #friendModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 320px;
  max-height: 400px;
  overflow-y: auto;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  z-index: 1000;
  display: none;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}
#friendModal h4 {
  margin-top: 0;
}
#closeModal {
  margin-top: 10px;
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.fit {

  display: inline-block;
  padding: 8px;
  max-width: 90%; /* evita que se extienda demasiado */
  font-size: 14px; 

}