* {
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
  }
  
  body {
    background: linear-gradient(135deg, #0f0c29, #302b63, #24243e);
    color: #00fff7;
    display: flex;
    flex-direction: column; /* <---- Esto es clave */
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    gap: 1rem; /* espacio entre h1 y form */
  }
  
  form {
    background: rgba(0, 0, 0, 0.6);
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 20px #00fff7;
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 1rem;
  }
  
  h1 {
    text-align: center;
    color: #00fff7;
    text-shadow: 0 0 5px #00fff7, 0 0 10px #00fff7;
    margin-bottom: 1rem;
  }
  
  label {
    color: #ffffff;
    font-weight: bold;
  }
  
  input[type="email"],
  input[type="password"] {
    padding: 0.7rem;
    border: none;
    border-radius: 5px;
    background: #1a1a2e;
    color: #00fff7;
    box-shadow: 0 0 10px #00fff7 inset;
  }

  input[type="text"] {
    padding: 0.7rem;
    border: none;
    border-radius: 5px;
    background: #1a1a2e;
    color:#00fff7;
    box-shadow: 0 0 10px #00fff7 inset;
  }
  
  input[type="submit"] {
    background-color: #00fff7;
    color: #000;
    padding: 0.8rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s ease, transform 0.2s ease;
  }
  
  input[type="submit"]:hover {
    background-color: #0ff;
    transform: scale(1.05);
  }

  button {
    background-color: rgb(228, 37, 37);
    color: #000;
    padding: 0.8rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s ease, transform 0.2s ease;
  }

  button:hover {
    background-color: #df6e6e;
    transform: scale(1.05);
  }
  